@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
    color-scheme: dark;
}

.sponsor-image {
    @apply grayscale hover:grayscale-0 transition-all;
}
