@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

@media (prefers-color-scheme: dark) {
}

body {
    font-family: "Inter", sans-serif;
}

.custom-shape-divider-bottom-1702071167 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702071167 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 195px;
}

.custom-shape-divider-bottom-1702071167 .shape-fill {
    @apply fill-zinc-50 dark:fill-zinc-900;
}

.custom-shape-divider-top-1702071760 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1702071760 svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 229px;
}

.custom-shape-divider-top-1702071760 .shape-fill {
    @apply fill-zinc-50 dark:fill-zinc-900;
}

.custom-shape-divider-bottom-1702072292 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702072292 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 117px;
}

.custom-shape-divider-bottom-1702072292 .shape-fill {
    @apply fill-zinc-900;
}

.custom-shape-divider-bottom-1702164895 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1702164895 svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 234px;
}

.custom-shape-divider-bottom-1702164895 .shape-fill {
    @apply fill-zinc-50 dark:fill-zinc-900;
}

.custom-shape-divider-top-1702164972 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1702164972 svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 234px;
}

.custom-shape-divider-top-1702164972 .shape-fill {
    @apply fill-zinc-50 dark:fill-zinc-900;
}
